<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LaunchDarkly" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  
  <LaunchDarkly>
    <add key="BaseUri" value="https://app.launchdarkly.com"/>
    <add key="ApiKey" value="Enter Api Key Here"/>
    <add key="EventQueueCapacity" value="500"/>
    <add key="EventQueueFrequency" value="30"/>
  </LaunchDarkly>
</configuration>